<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Space Invaders</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" href="./styles/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./scripts/app.js"></script>
    <style>

    </style>
</head>
<body>
<div ng-controller="HighScoreController as highScore">
    <h1>Personal space invader</h1>
    <div class="menu liststate-{{highScore.show}}">
        <a href="" ng-click="highScore.hideScore()">Game</a>
        <a href="" ng-click="highScore.showScore()">High Score</a>
    </div>
    <div class="game-wrapper">
        <canvas id="game"></canvas>
        <div class="highscore-wrapper highscore-wrapper-{{highScore.show}}">
            <div ng-if="highScore.scores.length==0">
                No high score yet ;)
            </div>
            <div ng-repeat="score in highScore.scores">
                {{score.points}}
            </div>
        </div>
    </div>
    <script type="module" src="./src/index.js"></script>
</div>
</body>
</html>
